<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Hogwats</title>
<!--   <link rel = "stylesheet" href '/style.css'>
 --></head>
<body>
<!--   <nav>
    <ul>
      <li>
        <a href = '/pizzas'>Pizza Orders</a>
        <a href = '/pizzas/new'>New Order</a>

      </li>
    </ul>
  </nav> -->
  <%= yield %>
</body>
</html>