<form method="post" action="/students">
  <label for="first_name">First Name:</label>
  <input id="first_name" type="text" name="first_name" />
  <br/>
  
  <label for="last_name">Last Name:</label>
  <input id="last_name" type="text" name="last_name" />
  <br/>

  <label for="age">Age:</label>
  <input id="age" type="number" name="age"/>
  <br/>

  <label for="house_id">Select a House:</label>
  <select id="house_id" name="house_id">
   <!--  <option value = "Griffydoor">Griffydoor</option>
    <option value = "Hawaiian">Hawaiian</option>
    <option value = "Snagglepuss">Snagglepuss</option>
    <option value = "Raisinbran">Raisinbran</option> -->
    <% @houses.each do |house| %>

    <option value = <%= house.id  %>> <%= house.name  %></option>
    <% end %>
  </select>
  <br/>

  <input type="submit" value="Submit Student to Hogwats"/>


</form>

